<body>
<div class="row">
    <div id="carouselExampleIndicators" class="col-6 carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/travel4.jpg" width="300px" height="510px" class="d-block w-100" alt="...">
          
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/travel1.jpg" width="300px" height="510px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/travel3.jpg" width="300px" height="510px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../../assets/images/travel5.jpg" width="300px" height="510px" class="d-block w-100" alt="...">
          
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/tourist3.jpg" width="300px" height="510px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/tourist4.jpg" width="300px" height="510px" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
   <div class="col-6 text-success">
    <h2 class="multicolortext2">
      <br><br><br>
      <br><strong>
       <span class="quotes">“ Tourism </span>  as an industry has been travelling with the wild pace of technological advancements and aboard are people from different places and cultures interacting with increasing ease….
        since, the globe had been shrunk into a village.
   <span class="quotes">”  </span> 
  </strong></h2>
   
   </div>
</div>
<div class="row">
    <div class="col-6">
      <h2 class="multicolortext">
        <br><br><br>
        <br><strong>
         
          “Life is a journey that must be traveled no matter how bad the roads and accommodations.” <br>
          “To travel is to discover that everyone is wrong about other countries.” 
      “It doesn’t matter where you are going. It matters who is beside you. ” 
    </strong>
    </h2>
    </div>
    <div class="col-6">
      <div class="card" >
        <img class="card-img-top img-thumbnail" src="../../assets/images/tourist5.jpg" style="height: 370px;" alt="Card image cap">
        <div class="card-body ">
          <h5 class="card-title text-danger">Tourism Application</h5>
          <p class="card-text test-dark">Ace yourself By Registering below.Aspire to inspire before you expire</p>
          <a (click)="register()" class="btn btn-secondary">Register Tourist</a>
        </div>
      </div>
    </div>
</div>
</body>

