body{
    background-image: url(../../assets/images/travel5.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 10px 10px;
}
.error{
    text-align: left;
}
.registerForm {
    width:550px;
    height: 570px;
    box-sizing: border-box;
    border: 1px solid rgb(24, 26, 25);
    margin:auto;
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 50px 50px;
    background-image: url(../../assets/images/form3.jpg);
    background-size: cover;
    }