
body {margin:0;}


li {
  float: left;
}

li a{
  display: block;
  color:rgb(241, 238, 238);
  text-align: center;
  padding: 14px 16px;
  text-decoration:solid;
  font-weight: 300px;
  font-size: large;
}

li a:hover:not(.active) {
  background-color: rgb(59, 42, 9);
}



