<nav class="navbar navbar-expand-sm sticky-top " style="background-image: url(../../assets/images/brown1.jpg);background-size: cover;">
    
  
      <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" (click)="home()">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="view()">View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="register()">Register</a>
              </li>
        
       
      </ul>
     
   
  </nav>